.App {
  text-align: center;
}

.teams{
  border: 1px solid black;
  border-collapse: collapse;
}

.score-input {
  text-align: center;
  width: 3vw;
}

/* Removes arrows from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.teams * {
  border: 1px solid black;
  border-collapse: collapse;
}