.App {
  margin-top: 5vh;
  margin-bottom: 2vh;

  margin-left: 3vw;
  margin-right: 3vw;
}

.App *{
  margin: 0.5vw;
}

.teams {
  width: 50%;
  border: 2px solid blue;
  border-collapse: collapse;
  text-align: center;
}

.score-input {
  text-align: center;
  width: 3vw;
}

.tables {
  display: inline-flex;
  gap: 2vw;
}

/* Removes arrows from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.teams * {
  border: 1px solid black;
  border-collapse: collapse;
}